h1 {
    color: black;
}

.header {
    background-color: yellow;
    display: flex;
    justify-content: space-between;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    justify-content: center;
}

p, h2 {
    text-align: center;
}

body {
    /* background-color: rgb(128, 128, 128); */
    background-color: #808080
}